/* Stile per il modal di conferma */
.modal-content {
    background-color: #fff;
    border-radius: 0.375rem;
}

/* Stile per il titolo del modal */
.modal-title {
    font-weight: bold;
}

/* Stile per i pulsanti nel modal */
.modal-footer .btn {
    border-radius: 0.25rem;
}

/* Stile per il pulsante "Elimina" nel modal */
.modal-footer .btn-danger {
    color: #fff;
}

/* Stile per il pulsante "Elimina" nella lista */
.elimina-elemento {
    margin-left: 10px;
}

/* Stile per l'hover del pulsante "Elimina" nella lista */
.elimina-elemento:hover {
    color: #fff;
}